extends layout

block content
  div
    h2=title
    ul
      li Select your search parameters from the drop-down menus below.
      br
      li You can use as many or as few as you'd like.
    
    hr

  form(method='POST' action='')
    div
      label.form-label
        span.form-span-text Which type of plant is it?
        span.form-span
        select#plant-type.form-select(name='plant_type')
          option(value="") * None Selected *
          option(value="Evergreen") Evergreen
          option(value="Shrub") Shrub
          option(value="Vine") Vine
          option(value="Annual") Annual
          option(value="Houseplant") Houseplant
          option(value="Poisonous") Poisonous
          option(value="Round") Round
          option(value="Tree") Tree

    div
      label.form-label
        span.form-span-text Which shape of plant is it?
        span.form-span
        select#plant-shape.form-select(name="plant_shape")
          option(value="") * None Selected *
          option(value="Hedge") Hedge
          option(value="Round") Round
          option(value="Arching") Arching
          option(value="Climbing") Climbing
          option(value="Spreading") Spreading
          option(value="Dense") Dense
          option(value="Erect") Erect
          option(value="Mounding") Mounding
          option(value="Oval") Oval
          option(value="Creeping") Creeping
          option(value="Various") Various
        
    div 
      span.form-span
      button.form-button(type='submit') Show Me What You Got!

  if errors
    ul
      for error in errors
        li!= error.msg